* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --barlow: "Barlow", sans-serif;
    --fraunces: "Fraunces", serif;
}

body {
    background-color: #fffcf8;
}
