.hero {
    background-image: url(./../images/mobile/image-header.jpg);
    background-position: bottom;
    background-size: cover;

    height: 538px;
    text-align: center;

    @media only screen and (min-width: 600px) {
        background-image: url(./../images/desktop/image-header.jpg);
    }

    @media only screen and (min-width: 900px) {
        height: 800px;
    }

    &__arrow {
        margin-top: 52px;

        @media only screen and (min-width: 900px) {
            margin-top: 96.5px;
        }
    }
}

.h1 {
    font-family: var(--fraunces);
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 6.25px;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 144px;

    @media only screen and (min-width: 900px) {
        font-size: 56px;
        line-height: 69px;
        letter-spacing: 8.75px;
        padding-top: 160px;
    }

    @media only screen and (min-width: 900px) {
        padding-top: 195px;
    }
}
