* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --barlow: "Barlow", sans-serif;
  --fraunces: "Fraunces", serif;
}

body {
  background-color: #fffcf8;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 34px 48px 0 40px;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    width: 170px;
  }
}

.menu-wrapper {
  position: relative;
}

.menu-icon {
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }
}

.nav {
  position: absolute;
  right: 0;
  top: 68px;
  width: 329px;
  height: 305px;
  background-color: #fffcf8;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.15s, opacity 0.15s;
}
@media only screen and (min-width: 768px) {
  .nav {
    pointer-events: revert;
    visibility: visible;
    opacity: 1;
    position: static;
    width: revert;
    height: revert;
    background-color: revert;
  }
}
.nav::before {
  content: "";
  width: 34px;
  height: 34px;
  position: absolute;
  top: -17px;
  right: -17px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right bottom, #fff 50%, transparent 50%);
}
@media only screen and (min-width: 768px) {
  .nav::before {
    display: none;
  }
}
.nav ul {
  list-style: none;
  text-align: center;
  padding: 39px 0 39px 0;
}
@media only screen and (min-width: 768px) {
  .nav ul {
    text-align: revert;
    padding: revert;
    display: flex;
    align-items: center;
  }
}
.nav li:not(:last-child) {
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .nav li:not(:last-child) {
    margin-bottom: revert;
    margin-right: 47px;
  }
}

.nav__link,
.nav__link:link,
.nav__link:visited {
  font-family: var(--barlow);
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.142857px;
  color: #808397;
  transition: color 0.15s, text-shadow 0.15s;
}
@media only screen and (min-width: 768px) {
  .nav__link,
  .nav__link:link,
  .nav__link:visited {
    font-size: 18px;
    letter-spacing: -0.128571px;
    color: #ffffff;
  }
}

.nav__link:hover {
  color: #24303e;
}
@media only screen and (min-width: 768px) {
  .nav__link:hover {
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}

.nav__link--contact,
.nav__link--contact:link,
.nav__link--contact:visited {
  display: inline-block;
  font-family: var(--fraunces);
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.107143px;
  text-transform: uppercase;
  color: #24303e;
  padding: 16px 31px 15px 32px;
  border-radius: 50px;
  background-color: #fbd600;
  transition: color 0.15s, background-color 0.15s;
}
@media only screen and (min-width: 768px) {
  .nav__link--contact,
  .nav__link--contact:link,
  .nav__link--contact:visited {
    background-color: #ffffff;
  }
}

@media only screen and (min-width: 768px) {
  .nav__link--contact:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.25);
    text-shadow: none;
  }
}

.hero {
  background-image: url(./../images/mobile/image-header.jpg);
  background-position: bottom;
  background-size: cover;
  height: 538px;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .hero {
    background-image: url(./../images/desktop/image-header.jpg);
  }
}
@media only screen and (min-width: 900px) {
  .hero {
    height: 800px;
  }
}
.hero__arrow {
  margin-top: 52px;
}
@media only screen and (min-width: 900px) {
  .hero__arrow {
    margin-top: 96.5px;
  }
}

.h1 {
  font-family: var(--fraunces);
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 6.25px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 144px;
}
@media only screen and (min-width: 900px) {
  .h1 {
    font-size: 56px;
    line-height: 69px;
    letter-spacing: 8.75px;
    padding-top: 160px;
  }
}
@media only screen and (min-width: 900px) {
  .h1 {
    padding-top: 195px;
  }
}

.ser {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 700px) {
  .ser {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.ser__text-box {
  height: 437px;
  padding: 0 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 700px) {
  .ser__text-box {
    text-align: left;
    height: 600px;
  }
}
@media only screen and (min-width: 1000px) {
  .ser__text-box {
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1100px) {
  .ser__text-box {
    padding: 0 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .ser__text-box {
    padding: 0 72px;
  }
}
@media only screen and (min-width: 1400px) {
  .ser__text-box {
    padding: 0 110px 0 165px;
  }
}
.ser__text-box--1 {
  order: 2;
}
@media only screen and (min-width: 700px) {
  .ser__text-box--1 {
    order: 1;
  }
}
.ser__text-box--2 {
  order: 4;
}
.ser__h2 {
  font-family: var(--fraunces);
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.228571px;
  color: #24303e;
  margin-bottom: 24px;
}
@media only screen and (min-width: 700px) {
  .ser__h2 {
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.285714px;
    margin-bottom: 32px;
  }
}
.ser__p {
  font-family: var(--barlow);
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.128571px;
  color: #808397;
  margin-bottom: 32px;
}
@media only screen and (min-width: 700px) {
  .ser__p {
    margin-bottom: 40px;
  }
}
.ser__img {
  background-position: center;
  background-size: cover;
  height: 312px;
}
@media only screen and (min-width: 500px) {
  .ser__img {
    height: 400px;
  }
}
@media only screen and (min-width: 600px) {
  .ser__img {
    height: 450px;
  }
}
@media only screen and (min-width: 700px) {
  .ser__img {
    height: 600px;
  }
}
.ser__img--egg {
  background-image: url(./../images/mobile/image-transform.jpg);
  order: 1;
}
@media only screen and (min-width: 700px) {
  .ser__img--egg {
    background-image: url(./../images/desktop/image-transform.jpg);
  }
}
.ser__img--red-cup {
  background-image: url(./../images/mobile/image-stand-out.jpg);
  order: 3;
}
@media only screen and (min-width: 700px) {
  .ser__img--red-cup {
    background-image: url(./../images/desktop/image-stand-out.jpg);
  }
}
.ser__img-text {
  position: relative;
  background-position: top;
  background-size: cover;
  height: 600px;
  text-align: center;
}
@media only screen and (min-width: 500px) {
  .ser__img-text {
    height: 700px;
  }
}
@media only screen and (min-width: 600px) {
  .ser__img-text {
    height: 775px;
  }
}
@media only screen and (min-width: 700px) {
  .ser__img-text {
    height: 600px;
  }
}
.ser__img-text--1 {
  background-image: url(./../images/mobile/image-graphic-design.jpg);
  order: 5;
}
@media only screen and (min-width: 700px) {
  .ser__img-text--1 {
    background-image: url(./../images/desktop/image-graphic-design.jpg);
  }
}
.ser__img-text--2 {
  background-image: url(./../images/mobile/image-photography.jpg);
  order: 6;
}
@media only screen and (min-width: 700px) {
  .ser__img-text--2 {
    background-image: url(./../images/desktop/image-photography.jpg);
  }
}
.ser__img-text div {
  padding: 0 24px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 59px;
}
.ser__img-text h3 {
  font-family: var(--fraunces);
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: -0.2px;
  color: #24554a;
  margin-bottom: 27px;
}
.ser__img-text p {
  font-family: var(--barlow);
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.114286px;
  color: #24554a;
}

.link,
.link:link,
.link:visited {
  font-family: var(--fraunces);
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24303e;
  text-decoration: none;
  position: relative;
}
.link::before,
.link:link::before,
.link:visited::before {
  content: "";
  width: 137px;
  height: 10px;
  border-radius: 50px;
  background-color: rgba(250, 212, 0, 0.25);
  transition: background-color 0.15s;
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}
@media only screen and (min-width: 700px) {
  .link,
  .link:link,
  .link:visited {
    align-self: flex-start;
  }
}

.link--red::before,
.link--red:link::before,
.link--red:visited::before {
  background-color: rgba(254, 120, 102, 0.25);
}

.link:hover::before {
  background-color: #fad400;
}

.link--red:hover::before {
  background-color: #fe7766;
}

/*# sourceMappingURL=style.css.map */
